<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.material.mapper.admin.MaterialMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into material
            (name, category_id, image, description,numbers, create_time, update_time, create_user,update_user, status)
        values (#{name}, #{categoryId}, #{image}, #{description},#{numbes}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser}, #{status})
    </insert>
    <select id="pageQuery" resultType="com.material.vo.admin.MaterialVO">
        select m.* , c.name as categoryName
        from material m
        left outer join category c
        on d.category_id = c.id
        <where>
            <if test="name != null">
                and m.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and m.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and m.status = #{status}
            </if>
        </where>
        order by m.create_time desc
    </select>
    <update id="update">
        update material
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="image != null">image = #{image},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="numbers != null">numbers = #{number},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </set>
        where id = #{id}
    </update>
    <select id="list" resultType="com.material.entity.Material">
        select * from material
        <where>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>