<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.material.mapper.user.UserMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user (openid, name, phone, id_number, avatar, create_time)
        values (#{openid}, #{name}, #{phone}, #{idNumber}, #{avatar}, #{createTime})
    </insert>
    <update id="update">
        update user
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="idNumber != null">id_number = #{idNumber},</if>
            <if test="institute != null">institute = #{institute},</if>
            <if test="studentIdCardImage != null">student_id_card_image = #{studentIdCardImage},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
        </set>
    </update>

</mapper>